.container {
  border: 1px solid $border-color;
  background-color: $bg-color;
  padding: 20px;

  &:hover {
    background-color: $bg-color-hover;
  }

  &:active {
    background-color: $bg-color-active;
  }
}
